/* General */
body {
  background-color: #2a2c41;
  font-family: "Oxygen", sans-serif;
}

.white-text {
  color: #edf2f4;
}

.grey-text {
  color: #8d99ae;
}

/* Related Video */

.related-video-container,
.related-video-container > div > div {
  padding-left: 8px;
}

.related-video-thumbnail {
  max-width: 100%;
  max-height: 100%;
}

.related-video-detail {
  font-size: 14px;
  padding-bottom: 0px;
}

.related-video-hover {
  background-color: rgb(47, 50, 82);
  border-radius: 5px;
  cursor: pointer;
}

.related-video-small-title {
  font-weight: bold;
}

.related-video-small-detail {
  font-size: 12px;
  padding-bottom: 0px;
}
